/* * {
  outline: 1px solid rgba(255, 0, 0, 0.3);
} */

html,
body {
  margin: 0;
  min-height: 100vh;
  font-family: "Figtree", sans-serif;
}

body {
  background-color: #f4d04e;
  display: grid;
  place-items: center;
}
h1 {
  font-size: 1.5rem;
}
section {
  background-color: white;
  padding: 16px;
  border-radius: 16px;
  border: 1px solid black;
  box-shadow: 8px 8px 0px 0px black;
  width: min-content;
}
.paragraph {
  color: rgb(121, 121, 121);
}
img.hero-image {
  border-radius: 12px;
}
img.profile-pic {
  width: 36px;
}
div {
  display: flex;
  align-items: center;
  gap: 8px;
  padding-top: 8px;
  font-size: 0.85rem;
}
.yellow-button {
  background-color: #f4d04e;
  padding: 8px 16px;
  border-radius: 4px;
  width: min-content;
}
